.box{
    border-color: white;
}
.link{
    transition: all 0.3s ease;
    background-color: white;
    color: black;
}
.link:hover{
    background-color: #86CD0E;/* green background on hover*/
    color: white;/* color text white on hover*/
}
a{
    text-decoration: none;
    color: inherit;
}
.back{
    background-color: #242935;
}
.bord{
    border: 1px solid white;
}
.nav-link{
    transition: all 0.3s ease;
}
.nav-link:hover{
    background-color: #86CD0E;/* green background on hover*/
    color: #86CD0E;/* color text green on hover*/
}